# Limpieza del Dataset

En esta notebook, abordaremos el proceso de limpieza del dataset obtenido del sitio web "Inmuebles Clarín" mediante la técnica de web scraping.
El objetivo principal es transformar y preparar los datos para análisis posteriores. A continuación, se detallan las tareas que se realizarán:

- Corrección de inconsistencias o errores y Conversión de formatos de datos:
1. **Cambio de Nombres y Orden de Columnas**
2. **Filtrado y Extracción de Información**
3. **Desglose de Características**
4. **Tranformar datos**
5. **Eliminación de Columnas Innecesarias**


Este enfoque metódico y estructurado nos permitirá obtener un dataset limpio y organizado, listo para su posterior análisis y modelado predictivo.

-------------------------------------------------------------------

In [57]:
#Importando las librerias
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import re
import math

In [58]:
df = pd.read_csv('C:\\Users\\PC\\Desktop\\DataScience-Inmuebles\\data\\01-inmuebles_caba.csv')

In [60]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13806 entries, 0 to 13805
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Barrio            13806 non-null  object
 1   Precio Venta USD  13806 non-null  object
 2   Precio Expensas   13806 non-null  object
 3   Características   13805 non-null  object
 4   ID                13806 non-null  int64
dtypes: int64(1), object(4)
memory usage: 539.4+ KB

In [61]:
df.head()

,Barrio,Precio Venta USD,Precio Expensas,Características,ID
0,"Villa Devoto, Capital Federal",USD 149.000,+ $97.700 expensas,DepartamentoDepartamento; 72 m² Cubierta 72 m²...,16603204
1,"Villa Devoto, Capital Federal",USD 90.000,No disponible,DepartamentoDepartamento; 42 m² Cubierta 42 m²...,16706445
2,"Villa Devoto, Capital Federal",USD 365.000,No disponible,DepartamentoDepartamento; 95 m² Cubierta 95 m²...,16756779
3,"Villa Devoto, Capital Federal",USD 137.500,+ $95.000 expensas,DepartamentoDepartamento; 65 m² Cubierta 65 m²...,16871293
4,"Villa Devoto, Capital Federal",USD 235.000,No disponible,DepartamentoDepartamento; 68 m² Cubierta 68 m²...,16199205

# Observaciones Iniciales del Dataset

El dataset analizado consta de 5 columnas y 13806 filas. A continuación, se presenta una descripción de cada columna:
- **`Barrio`**: Detalle de la localidad y barrio.
- **`Precio Venta USD`**: valor de venta del departamento expresado en USD
- **`Precio Expensas`**: Valor de las expensas del departamento en pesos Argentinos 
- **`Caracteristicas`**: Características de la propiedad (años de antigüedad, metros cuadrados totales, cantidad de dormitorios, cantidad de baños, entre otros).
- **`ID`**: Identificador único de la propiedad.

------------------------------------------------------------------------------------------

### 1. Cambio de Nombres y Orden de Columnas

#### 1.1  Cambio de Nombres de Columnas
Se realizaron los siguientes cambios en los nombres de las columnas para mejorar la claridad y consistencia de los datos:

| Columna Anterior | Nuevo Nombre      |
|------------------|-------------------|
| `ID`              | `id`          |
| `Barrio`           | `barrio`            |
| `Precio Venta USD`      | `precio_venta_usd`       |
| `Precio Expensas`       | `precio_expensas`        |
| `Caracteristicas`         | `caracteristicas`           |

In [62]:
df.columns = ['barrio', 'precio_venta_usd', 'precio_expensas', 'caracteristicas', 'id']

In [63]:
print(df.columns)

Index(['barrio', 'precio_venta_usd', 'precio_expensas', 'caracteristicas',
       'id'],
      dtype='object')

### 1.2 Cambio en el Orden de las Columnas
El orden de las columnas fue modificado para facilitar la lectura y análisis de los datos. El nuevo orden de las columnas es el siguiente:

1. `id`
2. `barrio`
3. `precio_venta_usd`
4. `precio_expensas`
5. `caracteristicas`

In [64]:
df.head()

,barrio,precio_venta_usd,precio_expensas,caracteristicas,id
0,"Villa Devoto, Capital Federal",USD 149.000,+ $97.700 expensas,DepartamentoDepartamento; 72 m² Cubierta 72 m²...,16603204
1,"Villa Devoto, Capital Federal",USD 90.000,No disponible,DepartamentoDepartamento; 42 m² Cubierta 42 m²...,16706445
2,"Villa Devoto, Capital Federal",USD 365.000,No disponible,DepartamentoDepartamento; 95 m² Cubierta 95 m²...,16756779
3,"Villa Devoto, Capital Federal",USD 137.500,+ $95.000 expensas,DepartamentoDepartamento; 65 m² Cubierta 65 m²...,16871293
4,"Villa Devoto, Capital Federal",USD 235.000,No disponible,DepartamentoDepartamento; 68 m² Cubierta 68 m²...,16199205

### 2. Filtrar y Extraer Datos de la Columna "Barrio"

- La columna `barrio` incluye el  barrio y la localidad, solo se extraerán el barrio de los datos incluidos de esta columna

In [65]:
#Observamos los valores de la columna "Barrio"
print(df['barrio'].unique())

['Villa Devoto, Capital Federal' 'No disponible'
 'Palermo, Capital Federal' 'Versalles, Capital Federal'
 'Constitucion, Capital Federal' 'Agronomia, Capital Federal'
 'Almagro, Capital Federal' 'Balvanera, Capital Federal'
 'Barracas, Capital Federal' 'Flores, Capital Federal'
 'Floresta, Capital Federal' 'Liniers, Capital Federal'
 'Villa Lugano, Capital Federal' 'Mataderos, Capital Federal'
 'Paternal, Capital Federal' 'Pompeya, Capital Federal'
 'Saavedra, Capital Federal' 'San Telmo, Capital Federal'
 'Belgrano, Capital Federal' 'Boca, Capital Federal'
 'Villa Luro, Capital Federal' 'Villa Crespo, Capital Federal'
 'Boedo, Capital Federal' 'Caballito, Capital Federal']

In [66]:
#Obtenemos solo los barrios , lo que esta antes de la coma
df['barrio'] = df['barrio'].apply(lambda x: x.split(',')[0])

In [67]:
print(df['barrio'].unique())

['Villa Devoto' 'No disponible' 'Palermo' 'Versalles' 'Constitucion'
 'Agronomia' 'Almagro' 'Balvanera' 'Barracas' 'Flores' 'Floresta'
 'Liniers' 'Villa Lugano' 'Mataderos' 'Paternal' 'Pompeya' 'Saavedra'
 'San Telmo' 'Belgrano' 'Boca' 'Villa Luro' 'Villa Crespo' 'Boedo'
 'Caballito']

### 3. Desglosar Datos de la Columna "caracteristicas"

- La columna contiene múltiples descripciones de la propiedad. Se sugiere crear columnas separadas para cada descripción importante, tales como `antigüedad`, `sup_total`, `dormitorios`, `baños`, entre otras.

In [68]:
#Observamos los valores de la columna caracteristicas
caracteristicas = df['caracteristicas'].unique()
caracteristicas

array(['DepartamentoDepartamento; 72 m² Cubierta 72 m² cubie.; 2 dormitorios 2 dorm.; 60 años 60 años; 1 baño 1 baño; 3 ambientes 3 ambientes',
       'DepartamentoDepartamento; 42 m² Cubierta 42 m² cubie.; 1 dormitorio 1 dorm.; 1 baño 1 baño; 2 ambientes 2 ambientes; Contra frente Contra frente; Noroeste Noroeste',
       'DepartamentoDepartamento; 95 m² Cubierta 95 m² cubie.; 2 dormitorios 2 dorm.; 3 baños 3 baños; 3 ambientes 3 ambientes; 1 cocheras 1 cocheras; Bueno Bueno; Frente Frente; Noreste Noreste; Per. mascota Per. mascota',
       ...,
       'DepartamentoDepartamento; 42 m² Cubierta 42 m² cubie.; 7 años 7 años; Apto profesi. Apto profesi.',
       'DepartamentoDepartamento; 52 m² Cubierta 52 m² cubie.; 1 dormitorio 1 dorm.; A Estrenar A Estrenar; 2 ambientes 2 ambientes; Excelente Excelente; Contra frente Contra frente; Norte Norte',
       'DepartamentoDepartamento; 100 m² Cubierta 100 m² cubie.; 4 dormitorios 4 dorm.; 20 años 20 años; 3 baños 3 baños; 4 ambientes 4 ambientes; 1 cocheras 1 cocheras; Excelente Excelente; Frente Frente; Per. mascota Per. mascota'],
      shape=(9829,), dtype=object)

In [69]:

# Creamos las  columnas vacías para los atributos
df['dormitorios'] = np.nan
df['antiguedad'] = np.nan
df['baños'] = np.nan
df['ambientes'] = np.nan
df['cocheras'] = np.nan
df['sup_cubierta'] = np.nan
df['estado'] = np.nan
df['apto_profesional'] = np.nan
df['apto_mascotas'] = np.nan
df['orientacion'] = np.nan

# Función para extraer y asignar valores a las columnas correspondientes
def extraer_atributos(row):
    if pd.isna(row['caracteristicas']):
        return row
    
    atributos = row['caracteristicas'].split(';')
    for atributo in atributos:
        atributo = atributo.strip().lower()
        
        if 'dormitorio' in atributo:
            row['dormitorios'] = atributo
        elif ' año' in atributo or 'años' in atributos:
            row['antiguedad'] = atributo
        elif 'baño' in atributo:
            row['baños'] = atributo
        elif 'ambiente' in atributo or 'monoambiente' in atributo:
            row['ambientes'] = atributo
        elif 'cochera' in atributo:
            row['cocheras'] = atributo
        elif 'cubierta' in atributo:
            row['sup_cubierta'] = atributo
        elif 'per. mascota' in atributo:
            row['apto_mascotas'] = atributo
        elif 'apto profesi' in atributo:
            row['apto_profesional'] = atributo
        elif any(estado in atributo for estado in ['bueno', 'muy bueno', 'excelente', 'a estrenar', 'a refaccionar']):
            row['estado'] = atributo
        elif any(orientacion in atributo for orientacion in ['noroeste', 'norte', 'este', 'oeste', 'suroeste','sur']):
            row['orientacion'] = atributo

    return row

# Aplicacion de la función a cada fila del DataFrame
df = df.apply(extraer_atributos, axis=1)

In [70]:
#observamos como quedo el df
df.head()

,barrio,precio_venta_usd,precio_expensas,caracteristicas,id,dormitorios,antiguedad,baños,ambientes,cocheras,sup_cubierta,estado,apto_profesional,apto_mascotas,orientacion
0,Villa Devoto,USD 149.000,+ $97.700 expensas,DepartamentoDepartamento; 72 m² Cubierta 72 m²...,16603204,2 dormitorios 2 dorm.,60 años 60 años,1 baño 1 baño,3 ambientes 3 ambientes,NaN,72 m² cubierta 72 m² cubie.,NaN,NaN,NaN,NaN
1,Villa Devoto,USD 90.000,No disponible,DepartamentoDepartamento; 42 m² Cubierta 42 m²...,16706445,1 dormitorio 1 dorm.,NaN,1 baño 1 baño,2 ambientes 2 ambientes,NaN,42 m² cubierta 42 m² cubie.,NaN,NaN,NaN,noroeste noroeste
2,Villa Devoto,USD 365.000,No disponible,DepartamentoDepartamento; 95 m² Cubierta 95 m²...,16756779,2 dormitorios 2 dorm.,NaN,3 baños 3 baños,3 ambientes 3 ambientes,1 cocheras 1 cocheras,95 m² cubierta 95 m² cubie.,bueno bueno,NaN,per. mascota per. mascota,noreste noreste
3,Villa Devoto,USD 137.500,+ $95.000 expensas,DepartamentoDepartamento; 65 m² Cubierta 65 m²...,16871293,2 dormitorios 2 dorm.,50 años 50 años,2 baños 2 baños,3 ambientes 3 ambientes,NaN,65 m² cubierta 65 m² cubie.,NaN,NaN,NaN,NaN
4,Villa Devoto,USD 235.000,No disponible,DepartamentoDepartamento; 68 m² Cubierta 68 m²...,16199205,2 dormitorios 2 dorm.,NaN,1 baño 1 baño,3 ambientes 3 ambientes,1 cocheras 1 cocheras,68 m² cubierta 68 m² cubie.,a estrenar a estrenar,apto profesi. apto profesi.,NaN,NaN

## 4.Conversión de formatos de datos:
**Tranformar los atributos**: Indentificar y transformar  según el formato que correspondan (numéricos, categóricos o booleanos )

- El atributo `estado`  deben estar en formato categorico:

In [71]:
#Observamos los valores unicos de 'estado'
print(df['estado'].unique())

[nan 'bueno bueno' 'a estrenar a estrenar' 'muy bueno muy bueno'
 'excelente excelente' 'a refaccionar a refac.']

In [72]:
# Función para limpiar y transformar los valores en la columna 'estado' cuando esté la cadena 'a estrenar' se le dara un valor de '0 años ' para  la columna antiguedad ya que si el departamento es a estreanar tiene 0 años de antiguedad
def limpiar_estado(valor):
    if pd.isna(valor):
        return np.nan
    elif valor == 'a estrenar a estrenar':
        return 'a estrenar'
    else:
        partes = valor.split()
        if len(partes) > 1 and partes[0] == partes[1]:
            return partes[0]
        elif len(partes) > 2 and partes[0] == partes[2]:
            return partes[0] + ' ' + partes[1]
        else:
            return ' '.join(partes[:2])

# Aplicar la función a la columna 'estado'
df['estado'] = df['estado'].apply(limpiar_estado)

# Actualizar la columna 'antiguedad' cuando el estado sea 'a estrenar'
df.loc[df['estado'] == 'a estrenar', 'antiguedad'] = '0 años'

# Mostrar los valores únicos de la columna 'estado'
print(df['estado'].unique())

[nan 'bueno' 'a estrenar' 'muy bueno' 'excelente' 'a refaccionar']

In [73]:
df['orientacion'].unique()

array([nan, 'noroeste noroeste', 'noreste noreste', 'este este',
       'norte norte', 'oeste oeste', 'sureste sureste',
       'suroeste suroeste', 'sur sur', 'sudoeste sudoeste',
       'sudeste sudeste'], dtype=object)

In [74]:
# Función para limpiar y transformar los valores en la columna 'orientacion'
def limpiar_orientacion(valor):
    if pd.isna(valor):
        return np.nan
    else:
        partes = valor.split()
        return partes[0]

# Aplicar la función a la columna 'orientacion'
df['orientacion'] = df['orientacion'].apply(limpiar_orientacion)

# Mostrar los valores únicos de la columna 'orientacion'
print(df['orientacion'].unique())

[nan 'noroeste' 'noreste' 'este' 'norte' 'oeste' 'sureste' 'suroeste'
 'sur' 'sudoeste' 'sudeste']

In [75]:
#Unificando criterios de la columna 'orientacion'
# Diccionario de mapeo para unificar valores
mapeo_orientacion = {
    'sudoeste':'suroeste',
    'sudeste':'sureste'
}

# Función para limpiar y transformar los valores en la columna 'orientacion'
def limpiar_orientacion(valor):
    if pd.isna(valor):
        return np.nan
    else:
        partes = valor.split()[0]
        return mapeo_orientacion.get(partes, partes)

# Aplicar la función a la columna 'orientacion'
df['orientacion'] = df['orientacion'].apply(limpiar_orientacion)

# Mostrar los valores únicos de la columna 'orientacion'
print(df['orientacion'].unique())

[nan 'noroeste' 'noreste' 'este' 'norte' 'oeste' 'sureste' 'suroeste'
 'sur']

- Los atributos `precio_venta_usd`,`precio_expensas` `Sup_total`, `ambientes`, `sup_cubierta`, `dormitorios`, ` antiguedad`, `cocheras`, `Toilettes` deben estar en formato numerico:

- `precio_expensas`:

In [76]:
df['precio_expensas'].unique()

array(['+ $97.700 expensas', 'No disponible', '+ $95.000 expensas',
       '+ $83.000 expensas', '+ $130.000 expensas', '+ $115.000 expensas',
       '+ $110.000 expensas', '+ $105.000 expensas',
       '+ $100.000 expensas', '+ $80.000 expensas', '+ $104.000 expensas',
       '+ $140.000 expensas', '+ $90.000 expensas', '+ $168.000 expensas',
       '+ $712.000 expensas', '+ $510.000 expensas', '+ $30.000 expensas',
       '+ $150.000 expensas', '+ $125.000 expensas', '+ $45.000 expensas',
       '+ $900.000 expensas', '+ $180.000 expensas', '+ $25.000 expensas',
       '+ $490.000 expensas', '+ $120.000 expensas',
       '+ $175.000 expensas', '+ $12.800 expensas', '+ $70.000 expensas',
       '+ $100.100 expensas', '+ $75.000 expensas', '+ $600.000 expensas',
       '+ $261.000 expensas', '+ $250.000 expensas',
       '+ $181.344 expensas', '+ $17.800 expensas', '+ $145.000 expensas',
       '+ $400.000 expensas', '+ $32.000 expensas', '+ $62.000 expensas',
       '+ $190.000 expensas', '+ $14.700 expensas', '+ $40.000 expensas',
       '+ $10.000 expensas', '+ $72.000 expensas', '+ $65.000 expensas',
       '+ $85.000 expensas', '+ $240.000 expensas', '+ $141.000 expensas',
       '+ $87.500 expensas', '+ $9.700 expensas', '+ $11.300 expensas',
       '+ $57.000 expensas', '+ $296.000 expensas', '+ $44.000 expensas',
       '+ $89.000 expensas', '+ $300.000 expensas', '+ $18.000 expensas',
       '+ $5.000 expensas', '+ $35.000 expensas', '+ $6.900 expensas',
       '+ $48.000 expensas', '+ $7.000 expensas', '+ $55.000 expensas',
       '+ $210.000 expensas', '+ $11.000 expensas', '+ $74.340 expensas',
       '+ $6.150 expensas', '+ $36.300 expensas', '+ $63.000 expensas',
       '+ $60.000 expensas', '+ $230.000 expensas', '+ $52.000 expensas',
       '+ $51.000 expensas', '+ $15.600 expensas', '+ $116.000 expensas',
       '+ $134.000 expensas', '+ $5.500 expensas', '+ $200.000 expensas',
       '+ $34.000 expensas', '+ $73.000 expensas', '+ $50.000 expensas',
       '+ $7.800 expensas', '+ $164.000 expensas', '+ $21.000 expensas',
       '+ $8.000 expensas', '+ $3.500 expensas', '+ $2.300 expensas',
       '+ $5.700 expensas', '+ $16.000 expensas', '+ $3.600 expensas',
       '+ $15.000 expensas', '+ $13.800 expensas', '+ $23.000 expensas',
       '+ $39.000 expensas', '+ $1.200 expensas', '+ $77.000 expensas',
       '+ $20.000 expensas', '+ $3.000 expensas', '+ $6.500 expensas',
       '+ $56.000 expensas', '+ $163.000 expensas', '+ $225.000 expensas',
       '+ $105.362 expensas', '+ $105.865 expensas',
       '+ $102.281 expensas', '+ $45.235 expensas', '+ $49.004 expensas',
       '+ $67.852 expensas', '+ $105.111 expensas', '+ $4.000 expensas',
       '+ $2.000 expensas', '+ $1.500 expensas', '+ $4.500 expensas',
       '+ $114.000 expensas', '+ $26.500 expensas', '+ $113.000 expensas',
       '+ $790.000 expensas', '+ $350.000 expensas',
       '+ $700.000 expensas', '+ $330.000 expensas',
       '+ $152.000 expensas', '+ $840.000 expensas',
       '+ $111.000 expensas', '+ $225.781 expensas',
       '+ $218.000 expensas', '+ $98.600 expensas', '+ $284.000 expensas',
       '+ $220.000 expensas', '+ $98.000 expensas', '+ $79.000 expensas',
       '+ $170.000 expensas', '+ $310.000 expensas',
       '+ $559.000 expensas', '+ $440.000 expensas', '+ $76.600 expensas',
       '+ $112.766 expensas', '+ $275.000 expensas',
       '+ $660.000 expensas', '+ $500.000 expensas',
       '+ $430.000 expensas', '+ $383.194 expensas',
       '+ $132.000 expensas', '+ $270.000 expensas',
       '+ $211.000 expensas', '+ $187.000 expensas',
       '+ $275.400 expensas', '+ $171.450 expensas',
       '+ $285.000 expensas', '+ $77.850 expensas', '+ $160.000 expensas',
       '+ $266.731 expensas', '+ $93.000 expensas', '+ $122.800 expensas',
       '+ $201.000 expensas', '+ $292.473 expensas',
       '+ $480.000 expensas', '+ $290.000 expensas', '+ $13.000 expensas',
       '+ $118.396 expensas', '+ $129.000 expensas', '+ $88.000 expensas',
       '+ $280.000 expensas', '+ $215.000 expensas',
       '+ $108.150 expensas', '+ $115.969 expensas',
       '+ $370.000 expensas', '+ $1.100.000 expensas',
       '+ $650.000 expensas', '+ $380.000 expensas',
       '+ $364.000 expensas', '+ $740.000 expensas',
       '+ $102.000 expensas', '+ $91.350 expensas', '+ $425.000 expensas',
       '+ $117.000 expensas', '+ $221.780 expensas',
       '+ $157.000 expensas', '+ $156.000 expensas',
       '+ $177.000 expensas', '+ $360.000 expensas',
       '+ $315.000 expensas', '+ $80.151 expensas', '+ $278.400 expensas',
       '+ $320.000 expensas', '+ $128.000 expensas',
       '+ $590.000 expensas', '+ $450.000 expensas',
       '+ $325.000 expensas', '+ $1.700.000 expensas',
       '+ $97.000 expensas', '+ $149.000 expensas', '+ $123.000 expensas',
       '+ $81.800 expensas', '+ $21.581 expensas', '+ $74.000 expensas',
       '+ $154.890 expensas', '+ $550.000 expensas',
       '+ $124.000 expensas', '+ $560.000 expensas',
       '+ $198.000 expensas', '+ $34.300 expensas', '+ $118.000 expensas',
       '+ $530.000 expensas', '+ $6.000 expensas', '+ $78.629 expensas',
       '+ $46.500 expensas', '+ $236.000 expensas', '+ $241.000 expensas',
       '+ $82.700 expensas', '+ $303.700 expensas', '+ $38.000 expensas',
       '+ $1.000.000 expensas', '+ $87.000 expensas',
       '+ $335.000 expensas', '+ $423.000 expensas',
       '+ $195.000 expensas', '+ $260.000 expensas',
       '+ $295.000 expensas', '+ $173.600 expensas',
       '+ $518.000 expensas', '+ $49.000 expensas', '+ $420.000 expensas',
       '+ $28.500 expensas', '+ $28.000 expensas', '+ $770.000 expensas',
       '+ $750.000 expensas', '+ $344.000 expensas',
       '+ $385.000 expensas', '+ $67.000 expensas', '+ $177.775 expensas',
       '+ $135.000 expensas', '+ $173.000 expensas',
       '+ $259.000 expensas', '+ $427.000 expensas', '+ $71.000 expensas',
       '+ $230.375 expensas', '+ $204.000 expensas',
       '+ $178.000 expensas', '+ $387.000 expensas',
       '+ $1.300.000 expensas', '+ $644.074 expensas',
       '+ $78.000 expensas', '+ $1.400.000 expensas',
       '+ $415.000 expensas', '+ $42.800 expensas', '+ $106.800 expensas',
       '+ $58.000 expensas', '+ $53.300 expensas', '+ $188.000 expensas',
       '+ $94.000 expensas', '+ $108.000 expensas', '+ $142.386 expensas',
       '+ $235.000 expensas', '+ $331.600 expensas', '+ $92.000 expensas',
       '+ $640.000 expensas', '+ $120.584 expensas', '+ $57.700 expensas',
       '+ $122.000 expensas', '+ $255.000 expensas',
       '+ $154.000 expensas', '+ $279.650 expensas',
       '+ $1.350.000 expensas', '+ $11.500 expensas',
       '+ $630.000 expensas', '+ $87.800 expensas', '+ $265.000 expensas',
       '+ $184.000 expensas', '+ $90.948 expensas', '+ $185.000 expensas',
       '+ $66.207 expensas', '+ $390.000 expensas', '+ $12.000 expensas',
       '+ $312.000 expensas', '+ $24.000 expensas', '+ $409.170 expensas',
       '+ $91.000 expensas', '+ $620.000 expensas', '+ $161.000 expensas',
       '+ $165.000 expensas', '+ $533.000 expensas',
       '+ $521.000 expensas', '+ $516.000 expensas',
       '+ $244.000 expensas', '+ $42.000 expensas', '+ $14.782 expensas',
       '+ $2.600 expensas', '+ $46.000 expensas', '+ $68.000 expensas',
       '+ $26.000 expensas', '+ $9.387 expensas', '+ $19.000 expensas',
       '+ $155.000 expensas', '+ $149.500 expensas', '+ $66.000 expensas',
       '+ $5.660 expensas', '+ $1.437 expensas', '+ $27.000 expensas',
       '+ $77.500 expensas', '+ $17.000 expensas', '+ $107.375 expensas',
       '+ $3.200 expensas', '+ $14.000 expensas', '+ $9.000 expensas',
       '+ $2.500 expensas', '+ $12.500 expensas', '+ $112.000 expensas',
       '+ $68.200 expensas', '+ $69.000 expensas', '+ $2.100 expensas',
       '+ $93.171 expensas', '+ $4.200 expensas', '+ $1.400 expensas',
       '+ $2.400 expensas', '+ $2.200 expensas', '+ $9.200 expensas',
       '+ $22.000 expensas', '+ $181.100 expensas', '+ $82.000 expensas',
       '+ $2.198 expensas', '+ $1.800 expensas', '+ $40.700 expensas',
       '+ $231.806 expensas', '+ $111.276 expensas',
       '+ $129.004 expensas', '+ $254.083 expensas',
       '+ $209.107 expensas', '+ $47.000 expensas', '+ $7.500 expensas',
       '+ $31.800 expensas', '+ $130.500 expensas', '+ $72.563 expensas',
       '+ $105.656 expensas', '+ $99.000 expensas', '+ $138.000 expensas',
       '+ $16.300 expensas', '+ $61.185 expensas', '+ $6.100 expensas',
       '+ $1.600 expensas', '+ $15.700 expensas', '+ $146.000 expensas',
       '+ $171.000 expensas', '+ $101.000 expensas', '+ $53.000 expensas',
       '+ $82.240 expensas', '+ $137.078 expensas', '+ $43.000 expensas',
       '+ $29.000 expensas', '+ $393.000 expensas', '+ $249.900 expensas',
       '+ $76.000 expensas', '+ $72.931 expensas', '+ $239.220 expensas',
       '+ $104.200 expensas', '+ $40.752 expensas', '+ $197.000 expensas',
       '+ $50.514 expensas', '+ $102.400 expensas', '+ $231.764 expensas',
       '+ $86.000 expensas', '+ $22.487 expensas', '+ $59.900 expensas',
       '+ $63.700 expensas', '+ $164.800 expensas', '+ $90.400 expensas',
       '+ $37.000 expensas', '+ $158.076 expensas', '+ $127.000 expensas',
       '+ $24.581 expensas', '+ $690.000 expensas', '+ $92.920 expensas',
       '+ $54.000 expensas', '+ $64.883 expensas', '+ $84.000 expensas',
       '+ $205.000 expensas', '+ $8.600 expensas', '+ $158.000 expensas',
       '+ $12.300 expensas', '+ $108.800 expensas', '+ $7.959 expensas',
       '+ $153.000 expensas', '+ $142.000 expensas', '+ $95.200 expensas',
       '+ $23.100 expensas', '+ $35.258 expensas', '+ $14.900 expensas',
       '+ $33.500 expensas', '+ $9.100 expensas', '+ $10.500 expensas',
       '+ $51.500 expensas', '+ $4.800 expensas', '+ $44.434 expensas',
       '+ $96.000 expensas', '+ $13.500 expensas', '+ $189.600 expensas',
       '+ $21.700 expensas', '+ $23.700 expensas', '+ $5.300 expensas',
       '+ $228.000 expensas', '+ $166.000 expensas', '+ $95.505 expensas',
       '+ $109.865 expensas', '+ $586.000 expensas', '+ $3.970 expensas',
       '+ $105.500 expensas', '+ $35.560 expensas', '+ $6.200 expensas',
       '+ $11.200 expensas', '+ $24.900 expensas', '+ $8.500 expensas',
       '+ $19.900 expensas', '+ $62.500 expensas', '+ $10.200 expensas',
       '+ $28.177 expensas', '+ $165.150 expensas', '+ $4.600 expensas',
       '+ $162.632 expensas', '+ $199.000 expensas',
       '+ $366.000 expensas', '+ $71.500 expensas', '+ $31.000 expensas',
       '+ $5.420 expensas', '+ $169.000 expensas', '+ $114.450 expensas',
       '+ $133.000 expensas', '+ $206.000 expensas',
       '+ $213.000 expensas', '+ $59.000 expensas', '+ $91.900 expensas',
       '+ $137.750 expensas', '+ $23.300 expensas',
       '+ $1.200.000 expensas', '+ $245.000 expensas',
       '+ $214.000 expensas', '+ $354.000 expensas', '+ $20.100 expensas',
       '+ $3.400 expensas', '+ $113.040 expensas', '+ $4.900 expensas',
       '+ $6.800 expensas', '+ $10.600 expensas', '+ $5.800 expensas',
       '+ $2.800 expensas', '+ $8.400 expensas', '+ $13.700 expensas',
       '+ $13.200 expensas', '+ $2.700 expensas', '+ $15.500 expensas',
       '+ $9.500 expensas', '+ $11.800 expensas', '+ $21.300 expensas',
       '+ $36.722 expensas', '+ $426.000 expensas', '+ $99.800 expensas',
       '+ $94.600 expensas', '+ $101.985 expensas', '+ $217.000 expensas',
       '+ $10.900 expensas', '+ $92.443 expensas', '+ $61.800 expensas',
       '+ $63.488 expensas', '+ $72.672 expensas', '+ $126.000 expensas',
       '+ $47.160 expensas', '+ $223.000 expensas', '+ $277.000 expensas',
       '+ $1.700 expensas', '+ $340.000 expensas', '+ $91.100 expensas',
       '+ $69.900 expensas', '+ $103.000 expensas', '+ $76.800 expensas',
       '+ $28.786 expensas', '+ $104.100 expensas', '+ $71.200 expensas',
       '+ $48.595 expensas', '+ $5.472 expensas', '+ $58.140 expensas',
       '+ $144.000 expensas', '+ $137.300 expensas',
       '+ $106.000 expensas', '+ $95.310 expensas', '+ $91.297 expensas',
       '+ $53.460 expensas', '+ $193.300 expensas', '+ $237.000 expensas',
       '+ $38.500 expensas', '+ $77.200 expensas', '+ $79.571 expensas',
       '+ $70.542 expensas', '+ $107.302 expensas', '+ $20.700 expensas',
       '+ $218.500 expensas', '+ $23.800 expensas', '+ $113.500 expensas',
       '+ $53.500 expensas', '+ $39.800 expensas', '+ $25.600 expensas',
       '+ $175.801 expensas', '+ $43.500 expensas', '+ $48.400 expensas',
       '+ $78.300 expensas', '+ $72.500 expensas', '+ $207.000 expensas',
       '+ $17.500 expensas', '+ $25.500 expensas', '+ $64.720 expensas',
       '+ $5.100 expensas', '+ $128.600 expensas', '+ $14.600 expensas',
       '+ $73.500 expensas', '+ $10.060.820 expensas',
       '+ $6.300 expensas', '+ $6.400 expensas', '+ $148.200 expensas',
       '+ $7.200 expensas', '+ $139.000 expensas', '+ $33.000 expensas',
       '+ $5.200 expensas', '+ $9.800 expensas', '+ $71.893 expensas',
       '+ $81.000 expensas', '+ $109.000 expensas', '+ $121.000 expensas',
       '+ $248.000 expensas', '+ $322.000 expensas',
       '+ $186.000 expensas', '+ $183.000 expensas',
       '+ $107.000 expensas', '+ $150.373 expensas', '+ $41.000 expensas',
       '+ $221.000 expensas', '+ $75.933 expensas', '+ $61.000 expensas',
       '+ $73.560 expensas', '+ $565.000 expensas', '+ $55.300 expensas',
       '+ $51.400 expensas', '+ $7.600 expensas', '+ $47.300 expensas',
       '+ $104.300 expensas', '+ $77.400 expensas', '+ $192.700 expensas',
       '+ $29.800 expensas', '+ $64.500 expensas', '+ $174.000 expensas',
       '+ $66.800 expensas', '+ $4.448 expensas', '+ $142.800 expensas',
       '+ $212.000 expensas', '+ $179.000 expensas', '+ $16.500 expensas',
       '+ $64.000 expensas', '+ $476.000 expensas', '+ $272.000 expensas',
       '+ $227.600 expensas', '+ $105.600 expensas',
       '+ $238.000 expensas', '+ $161.512 expensas', '+ $22.500 expensas',
       '+ $121.791 expensas', '+ $52.500 expensas', '+ $50.909 expensas',
       '+ $64.569 expensas', '+ $570.000 expensas',
       '+ $1.500.000 expensas', '+ $95.005 expensas',
       '+ $13.580 expensas', '+ $14.560 expensas', '+ $125.200 expensas',
       '+ $48.500 expensas', '+ $93.400 expensas', '+ $119.000 expensas',
       '+ $580.000 expensas', '+ $89.018 expensas', '+ $68.185 expensas',
       '+ $61.127 expensas', '+ $101.600 expensas', '+ $520.000 expensas',
       '+ $14.490 expensas', '+ $102.609 expensas', '+ $204.700 expensas',
       '+ $218.992 expensas', '+ $39.065 expensas', '+ $194.000 expensas',
       '+ $109.917 expensas', '+ $228.317 expensas', '+ $78.700 expensas',
       '+ $62.300 expensas', '+ $1.600.000 expensas',
       '+ $69.739 expensas', '+ $249.000 expensas', '+ $57.400 expensas',
       '+ $5.900 expensas', '+ $136.000 expensas', '+ $253.000 expensas',
       '+ $298.800 expensas', '+ $28.300 expensas', '+ $39.052 expensas',
       '+ $155.851 expensas', '+ $192.000 expensas',
       '+ $316.000 expensas', '+ $18.500 expensas', '+ $36.000 expensas',
       '+ $68.094 expensas', '+ $14.100 expensas', '+ $159.000 expensas',
       '+ $104.400 expensas', '+ $188.600 expensas', '+ $42.700 expensas',
       '+ $288.000 expensas', '+ $24.200 expensas', '+ $47.200 expensas',
       '+ $13.900 expensas', '+ $5.600 expensas', '+ $196.000 expensas',
       '+ $42.500 expensas', '+ $3.140 expensas', '+ $4.745 expensas',
       '+ $96.350 expensas', '+ $3.700 expensas', '+ $50.500 expensas',
       '+ $2.970 expensas', '+ $3.900 expensas', '+ $66.900 expensas',
       '+ $60.500 expensas', '+ $22.300 expensas', '+ $4.400 expensas',
       '+ $7.100 expensas', '+ $37.500 expensas', '+ $83.750 expensas',
       '+ $8.610 expensas', '+ $80.600 expensas', '+ $30.300 expensas',
       '+ $7.700 expensas', '+ $43.300 expensas', '+ $44.300 expensas',
       '+ $8.200 expensas', '+ $47.800 expensas', '+ $1.050 expensas',
       '+ $1.160 expensas', '+ $8.300 expensas', '+ $31.900 expensas',
       '+ $1.900 expensas', '+ $35.700 expensas', '+ $20.400 expensas',
       '+ $3.100 expensas', '+ $59.500 expensas', '+ $76.200 expensas',
       '+ $89.971 expensas', '+ $226.000 expensas', '+ $12.600 expensas',
       '+ $1.100 expensas', '+ $410.000 expensas', '+ $93.480 expensas',
       '+ $28.700 expensas', '+ $66.500 expensas', '+ $147.454 expensas',
       '+ $3.800 expensas', '+ $8.900 expensas', '+ $82.733 expensas',
       '+ $93.927 expensas', '+ $9.900 expensas', '+ $35.800 expensas',
       '+ $84.300 expensas', '+ $117.152 expensas', '+ $232.896 expensas',
       '+ $108.307 expensas', '+ $101.158 expensas', '+ $38.700 expensas',
       '+ $204.200 expensas', '+ $97.800 expensas', '+ $26.285 expensas',
       '+ $195.165 expensas', '+ $99.400 expensas', '+ $245.825 expensas',
       '+ $83.969 expensas', '+ $495.000 expensas', '+ $233.652 expensas',
       '+ $60.700 expensas', '+ $126.600 expensas', '+ $211.908 expensas',
       '+ $6.041 expensas', '+ $103.880 expensas', '+ $203.000 expensas',
       '+ $49.334 expensas', '+ $46.673 expensas', '+ $27.131 expensas',
       '+ $44.144 expensas', '+ $31.242 expensas', '+ $40.349 expensas',
       '+ $23.336 expensas', '+ $35.037 expensas', '+ $119.500 expensas',
       '+ $289.000 expensas', '+ $7.490 expensas', '+ $63.686 expensas',
       '+ $45.092 expensas', '+ $74.085 expensas', '+ $55.158 expensas',
       '+ $117.500 expensas', '+ $25.185 expensas', '+ $99.225 expensas',
       '+ $100.600 expensas', '+ $111.601 expensas',
       '+ $147.758 expensas', '+ $54.258 expensas', '+ $82.600 expensas',
       '+ $26.640 expensas', '+ $182.000 expensas', '+ $231.000 expensas',
       '+ $148.000 expensas', '+ $314.000 expensas', '+ $73.255 expensas',
       '+ $108.500 expensas', '+ $141.800 expensas', '+ $1.040 expensas',
       '+ $5.400 expensas', '+ $89.400 expensas', '+ $79.200 expensas',
       '+ $105.100 expensas', '+ $91.200 expensas', '+ $54.500 expensas',
       '+ $22.900 expensas', '+ $38.239 expensas', '+ $88.600 expensas',
       '+ $90.129 expensas', '+ $61.700 expensas', '+ $3.482 expensas',
       '+ $19.520 expensas', '+ $1.300 expensas', '+ $3.300 expensas',
       '+ $4.300 expensas', '+ $15.800 expensas', '+ $4.140 expensas',
       '+ $3.580 expensas', '+ $2.450 expensas', '+ $1.450 expensas',
       '+ $2.900 expensas', '+ $83.500 expensas', '+ $11.700 expensas',
       '+ $109.237 expensas', '+ $135.821 expensas',
       '+ $100.916 expensas', '+ $183.840 expensas',
       '+ $540.000 expensas', '+ $323.000 expensas',
       '+ $345.000 expensas', '+ $407.515 expensas',
       '+ $126.500 expensas', '+ $222.500 expensas',
       '+ $365.000 expensas', '+ $114.972 expensas',
       '+ $624.000 expensas', '+ $744.000 expensas',
       '+ $275.622 expensas', '+ $150.200 expensas',
       '+ $166.798 expensas', '+ $268.000 expensas',
       '+ $107.480 expensas', '+ $460.000 expensas',
       '+ $381.538 expensas', '+ $433.000 expensas',
       '+ $369.157 expensas', '+ $294.000 expensas', '+ $77.273 expensas',
       '+ $199.400 expensas', '+ $684.400 expensas',
       '+ $104.739 expensas', '+ $164.600 expensas',
       '+ $367.000 expensas', '+ $134.400 expensas', '+ $3.350 expensas',
       '+ $202.000 expensas', '+ $61.180 expensas', '+ $489.000 expensas',
       '+ $277.700 expensas', '+ $436.600 expensas', '+ $98.776 expensas',
       '+ $163.403 expensas', '+ $58.538 expensas', '+ $112.104 expensas',
       '+ $256.479 expensas', '+ $592.000 expensas',
       '+ $257.418 expensas', '+ $48.600 expensas', '+ $142.874 expensas',
       '+ $209.000 expensas', '+ $950.000 expensas',
       '+ $605.000 expensas', '+ $208.000 expensas',
       '+ $270.482 expensas', '+ $265.915 expensas',
       '+ $670.000 expensas', '+ $78.748 expensas', '+ $193.000 expensas',
       '+ $331.552 expensas', '+ $433.298 expensas',
       '+ $212.920 expensas', '+ $123.521 expensas',
       '+ $147.000 expensas', '+ $137.000 expensas',

In [77]:

df['precio_expensas'] = df['precio_expensas'].str.replace('+ $', '')  # Elimina '+ $'
df['precio_expensas'] = df['precio_expensas'].str.replace('.', '')  # Elimina puntos
df['precio_expensas'] = df['precio_expensas'].str.replace(' expensas', '')  # Elimina 'expensas'
df['precio_expensas'] = pd.to_numeric(df['precio_expensas'], errors='coerce')  # Convierte a numérico
df['precio_expensas'] = df['precio_expensas'].astype('Int64')  # Convertiendo a Int64 permitiendo valores NaN

- `precio_venta_usd`:

In [78]:
#4.1 Observamos los valores de la columna precio_venta_usd
df['precio_venta_usd'].unique()

array(['USD 149.000', 'USD 90.000', 'USD 365.000', ..., 'USD 165.800',
       'USD 165.500', 'USD 158.600'], shape=(1876,), dtype=object)

In [79]:
df['precio_venta_usd'] = df['precio_venta_usd'].str.replace('USD ', '')  # Elimina 'USD '
df['precio_venta_usd'] = df['precio_venta_usd'].str.replace('.', '')  # Eliminar puntos
df['precio_venta_usd'] = pd.to_numeric(df['precio_venta_usd'], errors='coerce')  # Convertir a numérico, NaN para valores no convertibles
df['precio_venta_usd'] = df['precio_venta_usd'].astype('Int64')  # Convertir a Int64 permitiendo valores NaN

- `sup_cubierta`:

In [80]:
#Observamos los valore uicos de la columna 'sup_cubierta' para extrer de ella solo los numeros
df['sup_cubierta'].unique()

array(['72 m² cubierta 72 m² cubie.', '42 m² cubierta 42 m² cubie.',
       '95 m² cubierta 95 m² cubie.', '65 m² cubierta 65 m² cubie.',
       '68 m² cubierta 68 m² cubie.', '69 m² cubierta 69 m² cubie.',
       '71 m² cubierta 71 m² cubie.', '29 m² cubierta 29 m² cubie.',
       '58 m² cubierta 58 m² cubie.',
       '112,81 m² cubierta 112,81 m² cubie.',
       '47,97 m² cubierta 47,97 m² cubie.',
       '543 m² cubierta 543 m² cubie.', '80 m² cubierta 80 m² cubie.',
       '51,04 m² cubierta 51,04 m² cubie.',
       '63,50 m² cubierta 63,50 m² cubie.',
       '152 m² cubierta 152 m² cubie.', '197 m² cubierta 197 m² cubie.',
       '59,96 m² cubierta 59,96 m² cubie.', '77 m² cubierta 77 m² cubie.',
       '44 m² cubierta 44 m² cubie.', nan, '63 m² cubierta 63 m² cubie.',
       '40 m² cubierta 40 m² cubie.', '147 m² cubierta 147 m² cubie.',
       '74 m² cubierta 74 m² cubie.', '57 m² cubierta 57 m² cubie.',
       '48 m² cubierta 48 m² cubie.', '110 m² cubierta 110 m² cubie.',
       '135 m² cubierta 135 m² cubie.', '94 m² cubierta 94 m² cubie.',
       '34,41 m² cubierta 34,41 m² cubie.', '60 m² cubierta 60 m² cubie.',
       '76 m² cubierta 76 m² cubie.', '44,30 m² cubierta 44,30 m² cubie.',
       '33,46 m² cubierta 33,46 m² cubie.', '45 m² cubierta 45 m² cubie.',
       '66 m² cubierta 66 m² cubie.', '32 m² cubierta 32 m² cubie.',
       '61 m² cubierta 61 m² cubie.', '55 m² cubierta 55 m² cubie.',
       '74,70 m² cubierta 74,70 m² cubie.',
       '166 m² cubierta 166 m² cubie.', '50 m² cubierta 50 m² cubie.',
       '43,34 m² cubierta 43,34 m² cubie.',
       '105 m² cubierta 105 m² cubie.', '112 m² cubierta 112 m² cubie.',
       '78 m² cubierta 78 m² cubie.', '181 m² cubierta 181 m² cubie.',
       '43 m² cubierta 43 m² cubie.', '120 m² cubierta 120 m² cubie.',
       '75 m² cubierta 75 m² cubie.', '100 m² cubierta 100 m² cubie.',
       '51 m² cubierta 51 m² cubie.', '137 m² cubierta 137 m² cubie.',
       '36 m² cubierta 36 m² cubie.', '123 m² cubierta 123 m² cubie.',
       '51 m2 cubierta 51 m2 cubie.', '139 m2 cubierta 139 m2 cubie.',
       '121 m2 cubierta 121 m2 cubie.', '125 m2 cubierta 125 m2 cubie.',
       '93 m2 cubierta 93 m2 cubie.', '39,70 m² cubierta 39,70 m² cubie.',
       '88 m² cubierta 88 m² cubie.', '280 m² cubierta 280 m² cubie.',
       '187 m² cubierta 187 m² cubie.', '49 m² cubierta 49 m² cubie.',
       '62,98 m² cubierta 62,98 m² cubie.', '52 m² cubierta 52 m² cubie.',
       '70 m² cubierta 70 m² cubie.', '46 m² cubierta 46 m² cubie.',
       '79 m² cubierta 79 m² cubie.', '68,65 m² cubierta 68,65 m² cubie.',
       '81 m² cubierta 81 m² cubie.', '130 m² cubierta 130 m² cubie.',
       '138 m² cubierta 138 m² cubie.', '35 m² cubierta 35 m² cubie.',
       '67 m² cubierta 67 m² cubie.', '47 m² cubierta 47 m² cubie.',
       '34 m² cubierta 34 m² cubie.', '48,30 m² cubierta 48,30 m² cubie.',
       '89 m² cubierta 89 m² cubie.', '37 m² cubierta 37 m² cubie.',
       '451 m² cubierta 451 m² cubie.',
       '39,80 m² cubierta 39,80 m² cubie.',
       '80,33 m² cubierta 80,33 m² cubie.',
       '134 m² cubierta 134 m² cubie.', '103 m² cubierta 103 m² cubie.',
       '106 m² cubierta 106 m² cubie.', '54 m² cubierta 54 m² cubie.',
       '113,62 m² cubierta 113,62 m² cubie.',
       '39,59 m² cubierta 39,59 m² cubie.', '41 m² cubierta 41 m² cubie.',
       '303 m² cubierta 303 m² cubie.', '87 m² cubierta 87 m² cubie.',
       '28 m² cubierta 28 m² cubie.', '86 m² cubierta 86 m² cubie.',
       '70,50 m² cubierta 70,50 m² cubie.',
       '118 m² cubierta 118 m² cubie.', '60 m2 cubierta 60 m2 cubie.',
       '30 m² cubierta 30 m² cubie.', '98 m² cubierta 98 m² cubie.',
       '237 m² cubierta 237 m² cubie.', '250 m² cubierta 250 m² cubie.',
       '93 m² cubierta 93 m² cubie.', '91 m² cubierta 91 m² cubie.',
       '85 m² cubierta 85 m² cubie.',
       '118,62 m² cubierta 118,62 m² cubie.',
       '90 m² cubierta 90 m² cubie.', '62,58 m² cubierta 62,58 m² cubie.',
       '73 m² cubierta 73 m² cubie.', '83 m² cubierta 83 m² cubie.',
       '39 m² cubierta 39 m² cubie.',
       '101,90 m2 cubierta 101,90 m2 cubie.',
       '53 m² cubierta 53 m² cubie.', '92 m² cubierta 92 m² cubie.',
       '182 m² cubierta 182 m² cubie.', '140 m² cubierta 140 m² cubie.',
       '99 m² cubierta 99 m² cubie.', '31,29 m² cubierta 31,29 m² cubie.',
       '114 m² cubierta 114 m² cubie.', '169 m² cubierta 169 m² cubie.',
       '82 m² cubierta 82 m² cubie.', '195 m² cubierta 195 m² cubie.',
       '38 m² cubierta 38 m² cubie.', '125 m² cubierta 125 m² cubie.',
       '143 m² cubierta 143 m² cubie.',
       '88,60 m2 cubierta 88,60 m2 cubie.',
       '153 m² cubierta 153 m² cubie.', '62 m² cubierta 62 m² cubie.',
       '31 m² cubierta 31 m² cubie.', '24 m² cubierta 24 m² cubie.',
       '78,30 m² cubierta 78,30 m² cubie.',
       '206 m² cubierta 206 m² cubie.', '102 m² cubierta 102 m² cubie.',
       '38,89 m² cubierta 38,89 m² cubie.', '26 m² cubierta 26 m² cubie.',
       '56 m² cubierta 56 m² cubie.', '150 m² cubierta 150 m² cubie.',
       '33 m² cubierta 33 m² cubie.', '126 m² cubierta 126 m² cubie.',
       '111 m² cubierta 111 m² cubie.',
       '66,22 m² cubierta 66,22 m² cubie.', '23 m² cubierta 23 m² cubie.',
       '43,07 m² cubierta 43,07 m² cubie.', '59 m² cubierta 59 m² cubie.',
       '145 m² cubierta 145 m² cubie.',
       '31,90 m² cubierta 31,90 m² cubie.',
       '78,70 m² cubierta 78,70 m² cubie.',
       '111,10 m2 cubierta 111,10 m2 cubie.',
       '131 m² cubierta 131 m² cubie.',
       '73,38 m² cubierta 73,38 m² cubie.', '22 m² cubierta 22 m² cubie.',
       '107 m² cubierta 107 m² cubie.',
       '77,45 m² cubierta 77,45 m² cubie.',
       '116 m² cubierta 116 m² cubie.', '122 m² cubierta 122 m² cubie.',
       '115 m² cubierta 115 m² cubie.', '128 m² cubierta 128 m² cubie.',
       '350 m² cubierta 350 m² cubie.',
       '54,98 m² cubierta 54,98 m² cubie.',
       '36,31 m² cubierta 36,31 m² cubie.',
       '38,48 m² cubierta 38,48 m² cubie.',
       '66,34 m² cubierta 66,34 m² cubie.',
       '104 m² cubierta 104 m² cubie.', '270 m² cubierta 270 m² cubie.',
       '54,55 m² cubierta 54,55 m² cubie.', '97 m² cubierta 97 m² cubie.',
       '50 m2 cubierta 50 m2 cubie.', '100 m2 cubierta 100 m2 cubie.',
       '97 m2 cubierta 97 m2 cubie.', '95 m2 cubierta 95 m2 cubie.',
       '77 m2 cubierta 77 m2 cubie.', '193 m² cubierta 193 m² cubie.',
       '75 m2 cubierta 75 m2 cubie.', '140 m2 cubierta 140 m2 cubie.',
       '165 m² cubierta 165 m² cubie.', '160 m² cubierta 160 m² cubie.',
       '25 m² cubierta 25 m² cubie.', '109 m² cubierta 109 m² cubie.',
       '483 m² cubierta 483 m² cubie.', '64 m² cubierta 64 m² cubie.',
       '117 m² cubierta 117 m² cubie.',
       '71,02 m² cubierta 71,02 m² cubie.',
       '185 m² cubierta 185 m² cubie.',
       '71,82 m² cubierta 71,82 m² cubie.',
       '133 m² cubierta 133 m² cubie.', '198 m² cubierta 198 m² cubie.',
       '244 m² cubierta 244 m² cubie.', '173 m² cubierta 173 m² cubie.',
       '121 m² cubierta 121 m² cubie.', '127 m² cubierta 127 m² cubie.',
       '84 m² cubierta 84 m² cubie.',
       '125,57 m² cubierta 125,57 m² cubie.',
       '109,79 m² cubierta 109,79 m² cubie.',
       '132 m² cubierta 132 m² cubie.', '27 m² cubierta 27 m² cubie.',
       '142 m² cubierta 142 m² cubie.', '168 m² cubierta 168 m² cubie.',
       '101 m² cubierta 101 m² cubie.', '139 m² cubierta 139 m² cubie.',
       '35,06 m² cubierta 35,06 m² cubie.',
       '34,97 m² cubierta 34,97 m² cubie.',
       '30,81 m² cubierta 30,81 m² cubie.',
       '307 m² cubierta 307 m² cubie.',
       '108,25 m² cubierta 108,25 m² cubie.',
       '26,92 m² cubierta 26,92 m² cubie.',
       '50,54 m² cubierta 50,54 m² cubie.',
       '129 m² cubierta 129 m² cubie.', '157 m² cubierta 157 m² cubie.',
       '143 m2 cubierta 143 m2 cubie.', '171 m2 cubierta 171 m2 cubie.',
       '169 m2 cubierta 169 m2 cubie.', '170 m2 cubierta 170 m2 cubie.',
       '96 m² cubierta 96 m² cubie.', '91,80 m² cubierta 91,80 m² cubie.',
       '400 m² cubierta 400 m² cubie.', '21 m² cubierta 21 m² cubie.',
       '232 m² cubierta 232 m² cubie.',
       '77,40 m² cubierta 77,40 m² cubie.',
       '124,18 m² cubierta 124,18 m² cubie.',
       '25,36 m² cubierta 25,36 m² cubie.',
       '159 m² cubierta 159 m² cubie.',
       '94,19 m² cubierta 94,19 m² cubie.',
       '39,96 m² cubierta 39,96 m² cubie.',
       '47,16 m² cubierta 47,16 m² cubie.',
       '247 m² cubierta 247 m² cubie.', '151 m² cubierta 151 m² cubie.',
       '22,52 m² cubierta 22,52 m² cubie.', '57 m2 cubierta 57 m2 cubie.',
       '148,34 m² cubierta 148,34 m² cubie.',
       '63,65 m² cubierta 63,65 m² cubie.',
       '113 m² cubierta 113 m² cubie.',
       '60,20 m² cubierta 60,20 m² cubie.',
       '385 m² cubierta 385 m² cubie.',
       '35,79 m² cubierta 35,79 m² cubie.',
       '156 m² cubierta 156 m² cubie.',
       '68,68 m² cubierta 68,68 m² cubie.',
       '57,75 m² cubierta 57,75 m² cubie.',
       '155 m² cubierta 155 m² cubie.',
       '32,30 m² cubierta 32,30 m² cubie.',
       '167 m² cubierta 167 m² cubie.',
       '49,64 m² cubierta 49,64 m² cubie.',
       '59,68 m² cubierta 59,68 m² cubie.',
       '30,59 m² cubierta 30,59 m² cubie.',
       '48,20 m² cubierta 48,20 m² cubie.',
       '157,10 m² cubierta 157,10 m² cubie.',
       '18 m² cubierta 18 m² cubie.', '31,45 m² cubierta 31,45 m² cubie.',
       '260 m² cubierta 260 m² cubie.',
       '50,05 m² cubierta 50,05 m² cubie.',
       '248 m² cubierta 248 m² cubie.', '205 m² cubierta 205 m² cubie.',
       '245 m² cubierta 245 m² cubie.',
       '135,55 m² cubierta 135,55 m² cubie.',
       '170 m² cubierta 170 m² cubie.', '124 m² cubierta 124 m² cubie.',
       '158 m² cubierta 158 m² cubie.',
       '47,50 m² cubierta 47,50 m² cubie.',
       '25,35 m² cubierta 25,35 m² cubie.', '17 m² cubierta 17 m² cubie.',
       '345 m² cubierta 345 m² cubie.', '194 m² cubierta 194 m² cubie.',
       '199 m² cubierta 199 m² cubie.',
       '53,05 m² cubierta 53,05 m² cubie.',
       '98,26 m² cubierta 98,26 m² cubie.',
       '200 m² cubierta 200 m² cubie.', '175 m² cubierta 175 m² cubie.',
       '34,90 m² cubierta 34,90 m² cubie.',
       '158,80 m² cubierta 158,80 m² cubie.',
       '136 m² cubierta 136 m² cubie.', '119 m² cubierta 119 m² cubie.',
       '65,42 m² cubierta 65,42 m² cubie.',
       '72,09 m² cubierta 72,09 m² cubie.',
       '440 m² cubierta 440 m² cubie.', '16 m² cubierta 16 m² cubie.',
       '208 m² cubierta 208 m² cubie.',
       '38,60 m² cubierta 38,60 m² cubie.',
       '22,08 m² cubierta 22,08 m² cubie.',
       '69,80 m² cubierta 69,80 m² cubie.',
       '190 m² cubierta 190 m² cubie.',
       '38,47 m² cubierta 38,47 m² cubie.',
       '450 m² cubierta 450 m² cubie.',
       '76,90 m² cubierta 76,90 m² cubie.',
       '211 m² cubierta 211 m² cubie.', '20 m² cubierta 20 m² cubie.',
       '32,70 m² cubierta 32,70 m² cubie.',
       '212 m² cubierta 212 m² cubie.',
       '47,75 m² cubierta 47,75 m² cubie.',
       '49,74 m² cubierta 49,74 m² cubie.',
       '32,62 m² cubierta 32,62 m² cubie.', '31 m2 cubierta 31 m2 cubie.',
       '45,20 m² cubierta 45,20 m² cubie.',
       '69,65 m² cubierta 69,65 m² cubie.',
       '76,60 m² cubierta 76,60 m² cubie.',
       '26,29 m² cubierta 26,29 m² cubie.',
       '37,45 m² cubierta 37,45 m² cubie.',
       '53,64 m² cubierta 53,64 m² cubie.',
       '48,51 m² cubierta 48,51 m² cubie.',
       '50,33 m² cubierta 50,33 m² cubie.',
       '40,98 m² cubierta 40,98 m² cubie.',
       '31,92 m² cubierta 31,92 m² cubie.',
       '109,17 m² cubierta 109,17 m² cubie.',
       '39,55 m² cubierta 39,55 m² cubie.',
       '50,13 m² cubierta 50,13 m² cubie.',
       '71,59 m² cubierta 71,59 m² cubie.',
       '22,47 m² cubierta 22,47 m² cubie.',
       '58,43 m² cubierta 58,43 m² cubie.',
       '75,58 m² cubierta 75,58 m² cubie.',
       '24,09 m² cubierta 24,09 m² cubie.',
       '68,35 m² cubierta 68,35 m² cubie.',
       '30,08 m² cubierta 30,08 m² cubie.', '19 m² cubierta 19 m² cubie.',
       '66,86 m² cubierta 66,86 m² cubie.',
       '42,25 m² cubierta 42,25 m² cubie.',
       '24,70 m² cubierta 24,70 m² cubie.',
       '25,11 m² cubierta 25,11 m² cubie.',
       '44,40 m² cubierta 44,40 m² cubie.',
       '40,41 m² cubierta 40,41 m² cubie.',
       '31,34 m² cubierta 31,34 m² cubie.',
       '17,20 m² cubierta 17,20 m² cubie.',
       '26,76 m² cubierta 26,76 m² cubie.',
       '55,40 m² cubierta 55,40 m² cubie.',
       '49,09 m² cubierta 49,09 m² cubie.',
       '51,11 m² cubierta 51,11 m² cubie.',
       '77,97 m² cubierta 77,97 m² cubie.',
       '24,22 m² cubierta 24,22 m² cubie.',
       '54,70 m² cubierta 54,70 m² cubie.',
       '63,74 m² cubierta 63,74 m² cubie.',
       '72,38 m² cubierta 72,38 m² cubie.',
       '42,10 m² cubierta 42,10 m² cubie.',
       '33,92 m² cubierta 33,92 m² cubie.',
       '58,77 m² cubierta 58,77 m² cubie.',
       '67,35 m² cubierta 67,35 m² cubie.',
       '83,37 m² cubierta 83,37 m² cubie.',
       '29,38 m² cubierta 29,38 m² cubie.',
       '196 m² cubierta 196 m² cubie.',
       '30,60 m² cubierta 30,60 m² cubie.',
       '29,35 m2 cubierta 29,35 m2 cubie.',
       '36,65 m2 cubierta 36,65 m2 cubie.',
       '28,45 m2 cubierta 28,45 m2 cubie.',
       '35,10 m2 cubierta 35,10 m2 cubie.',
       '23,30 m2 cubierta 23,30 m2 cubie.',
       '48,05 m2 cubierta 48,05 m2 cubie.',
       '55,62 m² cubierta 55,62 m² cubie.',
       '32,03 m² cubierta 32,03 m² cubie.',
       '67,18 m² cubierta 67,18 m² cubie.',
       '38,44 m² cubierta 38,44 m² cubie.',
       '29,89 m² cubierta 29,89 m² cubie.',
       '28,51 m² cubierta 28,51 m² cubie.',
       '50,74 m² cubierta 50,74 m² cubie.',
       '60,92 m² cubierta 60,92 m² cubie.',
       '71,09 m² cubierta 71,09 m² cubie.',
       '146 m² cubierta 146 m² cubie.',
       '48,98 m² cubierta 48,98 m² cubie.',
       '62,76 m² cubierta 62,76 m² cubie.',
       '42,11 m² cubierta 42,11 m² cubie.',
       '35,83 m² cubierta 35,83 m² cubie.',
       '115,21 m² cubierta 115,21 m² cubie.',
       '48,90 m² cubierta 48,90 m² cubie.',
       '207 m² cubierta 207 m² cubie.',
       '66,89 m² cubierta 66,89 m² cubie.', '52 m2 cubierta 52 m2 cubie.',
       '23,51 m² cubierta 23,51 m² cubie.',
       '29,48 m² cubierta 29,48 m² cubie.',
       '22,50 m² cubierta 22,50 m² cubie.',
       '83,90 m² cubierta 83,90 m² cubie.',
       '188 m² cubierta 188 m² cubie.',
       '56,50 m² cubierta 56,50 m² cubie.',
       '30,43 m² cubierta 30,43 m² cubie.',
       '108 m² cubierta 108 m² cubie.',
       '41,85 m² cubierta 41,85 m² cubie.',
       '32,05 m² cubierta 32,05 m² cubie.',
       '155,99 m² cubierta 155,99 m² cubie.',
       '35,08 m² cubierta 35,08 m² cubie.',
       '109,71 m² cubierta 109,71 m² cubie.',
       '30,87 m² cubierta 30,87 m² cubie.',
       '103,93 m² cubierta 103,93 m² cubie.',
       '34,07 m² cubierta 34,07 m² cubie.',
       '41,50 m² cubierta 41,50 m² cubie.',
       '45,60 m² cubierta 45,60 m² cubie.',
       '58,75 m² cubierta 58,75 m² cubie.',
       '500 m² cubierta 500 m² cubie.',
       '99,25 m² cubierta 99,25 m² cubie.',
       '42,23 m² cubierta 42,23 m² cubie.',
       '17,52 m² cubierta 17,52 m² cubie.',
       '34,48 m² cubierta 34,48 m² cubie.',
       '95,80 m² cubierta 95,80 m² cubie.',
       '48,50 m² cubierta 48,50 m² cubie.',
       '150,14 m² cubierta 150,14 m² cubie.',
       '36 m2 cubierta 36 m2 cubie.', '55 m2 cubierta 55 m2 cubie.',
       '36,21 m² cubierta 36,21 m² cubie.',
       '63,80 m² cubierta 63,80 m² cubie.',
       '60,28 m² cubierta 60,28 m² cubie.',
       '91,12 m² cubierta 91,12 m² cubie.',
       '178 m² cubierta 178 m² cubie.',
       '46,17 m² cubierta 46,17 m² cubie.',
       '174 m² cubierta 174 m² cubie.',
       '53,89 m² cubierta 53,89 m² cubie.', '3 m² cubierta 3 m² cubie.',
       '48,05 m² cubierta 48,05 m² cubie.',
       '191 m² cubierta 191 m² cubie.', '180 m² cubierta 180 m² cubie.',
       '40 m2 cubierta 40 m2 cubie.', '41 m2 cubierta 41 m2 cubie.',
       '32 m2 cubierta 32 m2 cubie.', '62 m2 cubierta 62 m2 cubie.',
       '164 m² cubierta 164 m² cubie.', '42 m2 cubierta 42 m2 cubie.',
       '27 m2 cubierta 27 m2 cubie.', '50,61 m² cubierta 50,61 m² cubie.',
       '42,90 m² cubierta 42,90 m² cubie.',
       '40,65 m2 cubierta 40,65 m2 cubie.', '30 m2 cubierta 30 m2 cubie.',
       '34,45 m2 cubierta 34,45 m2 cubie.',
       '186 m² cubierta 186 m² cubie.', '230 m² cubierta 230 m² cubie.',
       '267 m² cubierta 267 m² cubie.',
       '82,28 m² cubierta 82,28 m² cubie.', '43 m2 cubierta 43 m2 cubie.',
       '32,92 m² cubierta 32,92 m² cubie.',
       '163 m² cubierta 163 m² cubie.',
       '28,30 m² cubierta 28,30 m² cubie.',
       '79,20 m² cubierta 79,20 m² cubie.',
       '41,53 m² cubierta 41,53 m² cubie.',
       '34,47 m² cubierta 34,47 m² cubie.',
       '99,24 m² cubierta 99,24 m² cubie.',
       '62,70 m² cubierta 62,70 m² cubie.',
       '50,60 m² cubierta 50,60 m² cubie.',
       '40,10 m² cubierta 40,10 m² cubie.',
       '26,86 m² cubierta 26,86 m² cubie.',
       '30,57 m² cubierta 30,57 m² cubie.',
       '50,40 m² cubierta 50,40 m² cubie.',
       '148 m² cubierta 148 m² cubie.',
       '135,70 m² cubierta 135,70 m² cubie.',
       '372,26 m² cubierta 372,26 m² cubie.',
       '36,16 m² cubierta 36,16 m² cubie.',
       '51,40 m² cubierta 51,40 m² cubie.',
       '30,82 m² cubierta 30,82 m² cubie.',
       '49,45 m² cubierta 49,45 m² cubie.',
       '41,23 m² cubierta 41,23 m² cubie.',
       '38,03 m² cubierta 38,03 m² cubie.',
       '42,08 m² cubierta 42,08 m² cubie.',
       '47,65 m² cubierta 47,65 m² cubie.',
       '49,80 m² cubierta 49,80 m² cubie.',
       '26,31 m² cubierta 26,31 m² cubie.',
       '39,92 m² cubierta 39,92 m² cubie.',
       '57,39 m² cubierta 57,39 m² cubie.',
       '38,05 m² cubierta 38,05 m² cubie.',
       '25,39 m² cubierta 25,39 m² cubie.',
       '49,20 m² cubierta 49,20 m² cubie.',
       '62,50 m² cubierta 62,50 m² cubie.',
       '33,23 m² cubierta 33,23 m² cubie.',
       '149 m² cubierta 149 m² cubie.',
       '21,46 m² cubierta 21,46 m² cubie.',
       '28,25 m² cubierta 28,25 m² cubie.',
       '204 m² cubierta 204 m² cubie.',
       '36,28 m² cubierta 36,28 m² cubie.',
       '37,61 m² cubierta 37,61 m² cubie.',
       '210 m² cubierta 210 m² cubie.',
       '86,69 m² cubierta 86,69 m² cubie.',
       '33,66 m² cubierta 33,66 m² cubie.',
       '49,10 m² cubierta 49,10 m² cubie.',
       '52,50 m² cubierta 52,50 m² cubie.', '79 m2 cubierta 79 m2 cubie.',
       '49,27 m² cubierta 49,27 m² cubie.', '66 m2 cubierta 66 m2 cubie.',
       '99 m2 cubierta 99 m2 cubie.', '156 m2 cubierta 156 m2 cubie.',
       '38 m2 cubierta 38 m2 cubie.', '65,15 m² cubierta 65,15 m² cubie.',
       '42,29 m² cubierta 42,29 m² cubie.',
       '45,30 m² cubierta 45,30 m² cubie.',
       '192 m² cubierta 192 m² cubie.',
       '49,40 m² cubierta 49,40 m² cubie.',
       '33,38 m² cubierta 33,38 m² cubie.',
       '225 m² cubierta 225 m² cubie.', '184 m² cubierta 184 m² cubie.',
       '49,35 m² cubierta 49,35 m² cubie.',
       '78,70 m2 cubierta 78,70 m2 cubie.',
       '45,20 m2 cubierta 45,20 m2 cubie.',
       '35,40 m2 cubierta 35,40 m2 cubie.',
       '41,50 m2 cubierta 41,50 m2 cubie.',
       '45,30 m2 cubierta 45,30 m2 cubie.',
       '25,30 m2 cubierta 25,30 m2 cubie.',
       '59,85 m2 cubierta 59,85 m2 cubie.',
       '36,35 m2 cubierta 36,35 m2 cubie.',
       '59,40 m2 cubierta 59,40 m2 cubie.',
       '35,15 m2 cubierta 35,15 m2 cubie.',
       '59,50 m2 cubierta 59,50 m2 cubie.',
       '42,55 m2 cubierta 42,55 m2 cubie.',
       '57,20 m2 cubierta 57,20 m2 cubie.',
       '25,20 m2 cubierta 25,20 m2 cubie.',
       '35,65 m2 cubierta 35,65 m2 cubie.',
       '66,25 m2 cubierta 66,25 m2 cubie.',
       '35,85 m2 cubierta 35,85 m2 cubie.',
       '35,90 m2 cubierta 35,90 m2 cubie.', '76 m2 cubierta 76 m2 cubie.',
       '78 m2 cubierta 78 m2 cubie.', '91 m2 cubierta 91 m2 cubie.',

In [81]:
# Reemplazamos las comas por puntos
df['sup_cubierta'] = df['sup_cubierta'].str.replace(',', '.')

# Usamos la función str.extract() para extraer el primer número de la cadena
df['sup_cubierta'] = df['sup_cubierta'].str.extract(r'(\d+\.\d+|\d+)', expand=False).astype(float)

- Los atributos  `ambientes`, `dormitorios`, ` antiguedad`, se le aplicaran los siguinetes criterios:

|Dormitorios  | Ambientes  |Antiguedad  | 
|------------|------------|------------|
| 0 (No posee,ya que es un monoambiente) |   Monoambiente  | A estreanar    | 
| 1 dorm.     | 2 amb.   | 1-5 Años    | 
| 2 dorm.    | 3 amb.    | 5-10 Años  | 
| 3 dorm.     | 4 amb.  | 10-15 Años  |
| 4 dorm.     | 5 amb.   | 15-20 Años  |
| 5 dorm.    |  6 amb.  | 20-25 Años   | 
| + 6 dorm.     | +7 amb.   |30-35 Años   |
|      |   |40-45 Años   |
|      |   | 50-100 Años   |
|      |   | + 100 Años   |

- `dormitorios` y `ambientes`:

In [82]:
#Observamos los valores unicos de la columna 'dormitorios' y 'ambientes' para poder transformarlos en numericos
print(df['dormitorios'].unique())
print(df['ambientes'].unique())

['2 dormitorios 2 dorm.' '1 dormitorio 1 dorm.' nan
 '3 dormitorios 3 dorm.' '4 dormitorios 4 dorm.' '5 dormitorios 5 dorm.'
 '6 dormitorios 6 dorm.' '9 dormitorios 9 dorm.' '10 dormitorios 10 dorm.'
 '7 dormitorios 7 dorm.' '8 dormitorios 8 dorm.']
['3 ambientes 3 ambientes' '2 ambientes 2 ambientes'
 'monoambiente monoam.' '4 ambientes 4 ambientes'
 '5 ambientes 5 ambientes' nan '6 ambientes 6 ambientes'
 '7 ambientes 7 ambientes' '9 ambientes 9 ambientes'
 '8 ambientes 8 ambientes' '12 ambientes 12 ambientes'
 '1 ambiente 1 ambiente' '10 ambientes 10 ambientes'
 'ambientes ambientes ambientes ambientes' '11 ambientes 11 ambientes']

In [83]:
# en la columna 'ambientes' si esta presente la cadena 'monoambiente' se aplicara un 1 en la columna 'ambiente' y un 0 en la columna 'dormitorios'
df.loc[df['ambientes'] == 'monoambiente monoam.', ['ambientes', 'dormitorios']] = ['1', '0']

In [84]:
print(df['ambientes'].unique())

['3 ambientes 3 ambientes' '2 ambientes 2 ambientes' '1'
 '4 ambientes 4 ambientes' '5 ambientes 5 ambientes' nan
 '6 ambientes 6 ambientes' '7 ambientes 7 ambientes'
 '9 ambientes 9 ambientes' '8 ambientes 8 ambientes'
 '12 ambientes 12 ambientes' '1 ambiente 1 ambiente'
 '10 ambientes 10 ambientes' 'ambientes ambientes ambientes ambientes'
 '11 ambientes 11 ambientes']

In [85]:
# Función para extraer el número de las columnas 'dormitorios' y 'ambientes'
def extraer_numero(valor):
    if pd.isna(valor):
        return np.nan
    elif valor == 'monoambiente monoam.':
        return 1
    else:
        try:
            return int(valor.split()[0])
        except (ValueError, AttributeError):
            return np.nan


# Aplicar la función para extraer los números a las columnas
df['dormitorios'] = df['dormitorios'].apply(extraer_numero)
df['ambientes'] = df['ambientes'].apply(extraer_numero)

# Aplicar la transformación: convertir todos los valores mayores a 7 en 7
df['dormitorios'] = df['dormitorios'].apply(lambda x: 7 if x > 7 else x).astype('Int64')
df['ambientes'] = df['ambientes'].apply(lambda x: 7 if x > 7 else x).astype('Int64')

In [86]:
print(df['ambientes'].unique())

<IntegerArray>
[3, 2, 1, 4, 5, <NA>, 6, 7]
Length: 8, dtype: Int64

In [87]:
#Observamos los valores y como esta compuesta la columna 'antuguedad' para transformarla en numérica
print(df['antiguedad'].unique())

['60 años 60 años' nan '50 años 50 años' '0 años' '55 años 55 años'
 '15 años 15 años' '40 años 40 años' '14 años 14 años' '42 años 42 años'
 '8 años 8 años' '12 años 12 años' '20 años 20 años' '2 años 2 años'
 '10 años 10 años' '23 años 23 años' '43 años 43 años' '1 año 1 año'
 '30 años 30 años' '31 años 31 años' '3 años 3 años' '25 años 25 años'
 '45 años 45 años' '7 años 7 años' '35 años 35 años' '13 años 13 años'
 '11 años 11 años' '49 años 49 años' '41 años 41 años' '6 años 6 años'
 '5 años 5 años' '54 años 54 años' '70 años 70 años' '39 años 39 años'
 '18 años 18 años' '48 años 48 años' '46 años 46 años' '80 años 80 años'
 '38 años 38 años' '32 años 32 años' '9 años 9 años' '4 años 4 años'
 '69 años 69 años' '24 años 24 años' '29 años 29 años' '100 años 100 años'
 '47 años 47 años' '22 años 22 años' '58 años 58 años' '44 años 44 años'
 '64 años 64 años' '53 años 53 años' '33 años 33 años' '62 años 62 años'
 '28 años 28 años' '36 años 36 años' '51 años 51 años' '61 años 61 años'
 '52 años 52 años' '17 años 17 años' '99 años 99 años' '68 años 68 años'
 '65 años 65 años' '37 años 37 años' '57 años 57 años' '27 años 27 años'
 '75 años 75 años' '72 años 72 años' '56 años 56 años' '90 años 90 años'
 '107 años 107 años' '1970 años 1970 años' '16 años 16 años'
 '19 años 19 años' '63 años 63 años' '95 años 95 años' '67 años 67 años'
 '59 años 59 años' '66 años 66 años' '2025 años 2025 años'
 '73 años 73 años' '21 años 21 años' '110 años 110 años'
 '112 años 112 años' '82 años 82 años' '26 años 26 años'
 '914 años 914 años' '141 años 141 años' '105 años 105 años'
 '93 años 93 años' '78 años 78 años' '40000 años 40000 años'
 '87 años 87 años' '74 años 74 años' '34 años 34 años' '96 años 96 años'
 '85 años 85 años' '150 años 150 años' '126 años 126 años'
 '115 años 115 años' '88 años 88 años' '77 años 77 años']

In [88]:
# Función para extraer el número de años
def extraer_antiguedad(valor):
    if pd.isna(valor):  # Si es NaN, lo dejamos como está
        return np.nan
    try:
        # Extraer el primer número en la cadena
        return int(valor.split()[0])
    except (ValueError, AttributeError):
        return np.nan

# Aplicar la función para extraer el número
df['antiguedad'] = df['antiguedad'].apply(extraer_antiguedad)

# Función para agrupar según los rangos especificados
def categorizar_antiguedad(valor):
    if pd.isna(valor):
        return np.nan
    elif valor == 0:
        return "A estrenar"
    elif 1 <= valor <= 5:
        return "1-5 años"
    elif 6 <= valor <= 10:
        return "5-10 años"
    elif 11 <= valor <= 15:
        return "10-15 años"
    elif 16 <= valor <= 20:
        return "15-20 años"
    elif 21 <= valor <= 25:
        return "20-25 años"
    elif 26 <= valor <= 50:
        return "25-50 años"
    elif 51 <= valor <= 100:
        return "50-100 años"
    else:
        return "+100 años"

# Aplicar la función para categorizar
df['antiguedad'] = df['antiguedad'].apply(categorizar_antiguedad)

# Mostrar el DataFrame resultante
print (df['antiguedad'])

0        50-100 años
1                NaN
2                NaN
3         25-50 años
4         A estrenar
            ...
13801            NaN
13802      5-10 años
13803            NaN
13804     15-20 años
13805            NaN
Name: antiguedad, Length: 13806, dtype: object

In [89]:
print(df['antiguedad'].unique())

['50-100 años' nan '25-50 años' 'A estrenar' '10-15 años' '5-10 años'
 '15-20 años' '1-5 años' '20-25 años' '+100 años']

In [90]:
df.head(5)

,barrio,precio_venta_usd,precio_expensas,caracteristicas,id,dormitorios,antiguedad,baños,ambientes,cocheras,sup_cubierta,estado,apto_profesional,apto_mascotas,orientacion
0,Villa Devoto,149000,97700,DepartamentoDepartamento; 72 m² Cubierta 72 m²...,16603204,2,50-100 años,1 baño 1 baño,3,NaN,72.0,NaN,NaN,NaN,NaN
1,Villa Devoto,90000,<NA>,DepartamentoDepartamento; 42 m² Cubierta 42 m²...,16706445,1,NaN,1 baño 1 baño,2,NaN,42.0,NaN,NaN,NaN,noroeste
2,Villa Devoto,365000,<NA>,DepartamentoDepartamento; 95 m² Cubierta 95 m²...,16756779,2,NaN,3 baños 3 baños,3,1 cocheras 1 cocheras,95.0,bueno,NaN,per. mascota per. mascota,noreste
3,Villa Devoto,137500,95000,DepartamentoDepartamento; 65 m² Cubierta 65 m²...,16871293,2,25-50 años,2 baños 2 baños,3,NaN,65.0,NaN,NaN,NaN,NaN
4,Villa Devoto,235000,<NA>,DepartamentoDepartamento; 68 m² Cubierta 68 m²...,16199205,2,A estrenar,1 baño 1 baño,3,1 cocheras 1 cocheras,68.0,a estrenar,apto profesi. apto profesi.,NaN,NaN

In [91]:

# Función para extraer los números de baños y cocheras
def extraer_numeros(texto, keyword):
    import re
    if pd.isna(texto):
        return None
    resultado = re.search(rf'(\d+) {keyword}', texto, re.IGNORECASE)
    return float(resultado.group(1)) if resultado else None

df['baños'] = df['baños'].apply(lambda x: extraer_numeros(x, 'baño[s]?')).astype('Int64') 
df['cocheras'] = df['cocheras'].apply(lambda x: extraer_numeros(x, 'cocheras[s]?')).astype('Int64')

print(df[[ 'baños','cocheras']])

       baños  cocheras
0          1      <NA>
1          1      <NA>
2          3         1
3          2      <NA>
4          1         1
...      ...       ...
13801      2      <NA>
13802   <NA>      <NA>
13803   <NA>      <NA>
13804      3         1
13805      1      <NA>

[13806 rows x 2 columns]

In [92]:
df.head(8)

,barrio,precio_venta_usd,precio_expensas,caracteristicas,id,dormitorios,antiguedad,baños,ambientes,cocheras,sup_cubierta,estado,apto_profesional,apto_mascotas,orientacion
0,Villa Devoto,149000,97700,DepartamentoDepartamento; 72 m² Cubierta 72 m²...,16603204,2,50-100 años,1,3,<NA>,72.0,NaN,NaN,NaN,NaN
1,Villa Devoto,90000,<NA>,DepartamentoDepartamento; 42 m² Cubierta 42 m²...,16706445,1,NaN,1,2,<NA>,42.0,NaN,NaN,NaN,noroeste
2,Villa Devoto,365000,<NA>,DepartamentoDepartamento; 95 m² Cubierta 95 m²...,16756779,2,NaN,3,3,1,95.0,bueno,NaN,per. mascota per. mascota,noreste
3,Villa Devoto,137500,95000,DepartamentoDepartamento; 65 m² Cubierta 65 m²...,16871293,2,25-50 años,2,3,<NA>,65.0,NaN,NaN,NaN,NaN
4,Villa Devoto,235000,<NA>,DepartamentoDepartamento; 68 m² Cubierta 68 m²...,16199205,2,A estrenar,1,3,1,68.0,a estrenar,apto profesi. apto profesi.,NaN,NaN
5,Villa Devoto,197000,83000,DepartamentoDepartamento; 69 m² Cubierta 69 m²...,16199203,2,A estrenar,1,3,<NA>,69.0,a estrenar,NaN,NaN,NaN
6,Villa Devoto,495000,<NA>,DepartamentoDepartamento; 71 m² Cubierta 71 m²...,16384763,1,A estrenar,1,2,<NA>,71.0,a estrenar,NaN,NaN,NaN
7,Villa Devoto,107300,<NA>,DepartamentoDepartamento; 29 m² Cubierta 29 m²...,11312007,0,A estrenar,1,1,<NA>,29.0,a estrenar,NaN,NaN,noreste

- Los atributos `apto_profesional` y `apto_mascotas` deben estar en formato booleano:

In [93]:
#Observalos los valores de las columnas apto_profesional y apto_mascotas
print(df['apto_profesional'].unique())
print(df['apto_mascotas'].unique())

[nan 'apto profesi. apto profesi.']
[nan 'per. mascota per. mascota']

In [94]:

# Función para transformar en booleanos, manteniendo NaN
def transformar_booleano(valor):
    if pd.isna(valor):
        return np.nan
    elif valor == 'apto profesi. apto profesi.':
        return 1
    elif valor == 'per. mascota per. mascota':
        return 1
    else:
        return 0

# Aplicar la función a las columnas 'apto_profesional' y 'apto_mascotas'
df['apto_profesional'] = df['apto_profesional'].apply(transformar_booleano).astype('Int64')
df['apto_mascotas'] = df['apto_mascotas'].apply(transformar_booleano).astype('Int64')

# Mostrar los valores únicos de las columnas transformadas
print(df['apto_profesional'].unique())
print(df['apto_mascotas'].unique())

<IntegerArray>
[<NA>, 1]
Length: 2, dtype: Int64
<IntegerArray>
[<NA>, 1]
Length: 2, dtype: Int64

## 5. Eliminación de Columnas Innecesarias

Una vez realizado el primer procesamiento de datos, se debe proceder a:

- Identificar y eliminar las columnas que no aportan valor significativo al análisis, optimizando así la estructura del dataset.

In [95]:
# Eliminando la columna
df = df.drop(['caracteristicas'], axis=1)

## Observación Final de las transformaciones realizadas y el resultado  final del dataset:

In [96]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13806 entries, 0 to 13805
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   barrio            13806 non-null  object
 1   precio_venta_usd  13662 non-null  Int64
 2   precio_expensas   6796 non-null   Int64
 3   id                13806 non-null  int64
 4   dormitorios       13515 non-null  Int64
 5   antiguedad        8785 non-null   object
 6   baños             12875 non-null  Int64
 7   ambientes         13398 non-null  Int64
 8   cocheras          1817 non-null   Int64
 9   sup_cubierta      12959 non-null  float64
 10  estado            8497 non-null   object
 11  apto_profesional  3159 non-null   Int64
 12  apto_mascotas     1998 non-null   Int64
 13  orientacion       4032 non-null   object
dtypes: Int64(8), float64(1), int64(1), object(4)
memory usage: 1.6+ MB

In [131]:
df.head(8)

,id,barrio,precio_venta_usd,precio_expensas,dormitorios,antiguedad,baños,ambientes,cocheras,sup_cubierta,estado,apto_profesional,apto_mascotas,orientacion
0,16603204,Villa Devoto,149000,97700,2,50-100 años,1,3,<NA>,72.0,NaN,<NA>,<NA>,NaN
1,16706445,Villa Devoto,90000,<NA>,1,NaN,1,2,<NA>,42.0,NaN,<NA>,<NA>,noroeste
2,16756779,Villa Devoto,365000,<NA>,2,NaN,3,3,1,95.0,bueno,<NA>,1,noreste
3,16871293,Villa Devoto,137500,95000,2,25-50 años,2,3,<NA>,65.0,NaN,<NA>,<NA>,NaN
4,16199205,Villa Devoto,235000,<NA>,2,A estrenar,1,3,1,68.0,a estrenar,1,<NA>,NaN
5,16199203,Villa Devoto,197000,83000,2,A estrenar,1,3,<NA>,69.0,a estrenar,<NA>,<NA>,NaN
6,16384763,Villa Devoto,495000,<NA>,1,A estrenar,1,2,<NA>,71.0,a estrenar,<NA>,<NA>,NaN
7,11312007,Villa Devoto,107300,<NA>,0,A estrenar,1,1,<NA>,29.0,a estrenar,<NA>,<NA>,noreste

In [42]:
# Guardando  el DataFrame resultante en un nuevo archivo CSV
df.to_csv('C:\\Users\\PC\\Desktop\\Ml-deptos\\notebook\\data\\2-inmuebles.csv',  index=False)

---------------------------------